body{
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
}
.cardQuotes{
    background-color: white;
    width: 35rem;
    border: 1px solid black;
    color: red;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.562);
}

blockquote{
    quotes: '\00AB' '\00BB' '\201E' '\201C';
    display: flex;
    gap: 1rem;

}
blockquote > p {
    margin-top: 5%;
}
.author{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 5%;
    margin-top: -5%;
    font-style: italic;
    margin-bottom: 0.5rem;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: inherit;
   
}

.button-random{
display: flex;
justify-content: flex-end;
align-items: center;
margin: 5%;
margin-top: 0;
}
